:root {
  --white: #f2f2f2;
  --black: #222222;
  --yellow: #c89c00;
  --grey: #d9d9d9;
}

html,
body,
#app,
#map-container {
  height: 100%;
  color: var(--black);
}

body {
  /* not bundling any of these fonts, so we just get whatever the browser has
  hopefully they should all be fairly similar */
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0px;
}

hr {
  border: 1px solid var(--grey);
}

button {
  padding: 6px;
  font-size: medium;
  background-color: var(--white);
  border-radius: 5px;
  border: none;
  border: 2px solid var(--grey);
  cursor: pointer;
}

@media (any-hover: hover) {
  button:hover {
    background-color: #d8d8d8;
  }
}

shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}

.icon {
  height: 25px;
  width: 25px;
  display: block;
  background-clip: content-box;
  background-origin: content-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}