# latex
main.pdf
*.synctex.gz
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.log
*.fdb_latexmk
*.snm
*.synctex(busy)
*.synctex.gz(busy)
*.nav
*.run.xml
*.bcf
proof-of-concepts/1-offline-html5/albania.map
dist
node_modules
wales.map
dorset-with-debug.map
